.about-me{
    margin : 8rem auto;
    width : 80%;
    text-align: left;
}
.page-title{
    margin-bottom: 2rem;
}
@media screen and (max-width: 800px) {
    .about-me{
        font-size: var(--font-size-small);

    }
    
}