.greeting{
    margin-bottom: 3rem;
}
.about-me-header{
    display: flex;
    align-items: center;
    justify-content: center
}
.my-picture{
    width: 400px;
    height: 400px;
    margin: 30px auto 50px auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    border: 0.2rem solid var(--my-picture-border-color);
}
.image-text{
    padding-left: 4rem;
}

@media screen and (max-width: 1300px) {
    .about-me-header{
        display: block;
        align-items: left;
        justify-content: left;
    }
    .my-picture{
      float: none;
      display: block;
    }
    .image-text{
        margin-bottom: 10rem;
        padding: 0;
    }
    .my-picture{
        width: 400px;
        height: 400px;
    }

}

@media screen and (max-width: 800px) {
    .my-picture{
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {
    .my-picture{
        width: 200px;
        height: 200px;
    }
}