.blog{
    margin : 8rem auto;
    width : 80%;
    text-align: left;
}
.blog p{
    line-height: 2;
}

@media screen and (max-width: 800px) {
    .blog{
        font-size: var(--font-size-small);

    }
}