*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
:root{
    

    /* Font */
    --font-family: "Roboto Mono", monospace;
    --font-size: 1rem;
    --font-size-small: 0.8rem;
    --font-size-medium: 1.2rem;
    --font-size-large: 1.618rem;
    --font-size-xlarge: 2.618rem;
    --font-weight: 400;

    /* width */
    --width: 70%;
    --width-small: 80%;
    --width-xsmall: 85%;

}

.dark-theme{
    /* body */
    --body-background-color: #1e1e1e;
    --font-color: #ffffff;
    --link-color: #00b7ff;
    
    /* toggle */
    --toggle-container-background-color: #fefcb2;
    --toggle-background-color: #000000;

    /* navBar dark */
    --navbar-background-color: #1e1e1e;
    --navbar-hover-color: #fefcb2;
    --navbar-text-color: #ffffff;

    /* hamburger */
    --hamburger-color: #fefcb2;;
    
    /* my picture */
    --my-picture-border-color: #ffffff;

    /* BOX */
    --box-background-color: #27374D;
    --box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.724);
}

.light-theme{
    /* body */
    --body-background-color: #ffffff;
    --font-color: #000000;
    --link-color: #1f5aff;

    /* toggle */
    --toggle-container-background-color: #131313;
    --toggle-background-color: #fefcb2;

    /* navBar light */
    --navbar-background-color: #ffffff;
    --navbar-hover-color: #000000;
    --navbar-text-color: #000000;

    /* hamburger */
    --hamburger-color: #000000;
    
    /* my picture */
    --my-picture-border-color: #1f233f;

    /* BOX */
    --box-background-color: #CAEDFF;
    --box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.724);
}


body{
    background-color: var(--body-background-color);
    color: var(--font-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);

    /* paragraph */
    line-height: 1.5rem;

}
h1{
    font-size: var(--font-size-xlarge);
}
h2{
    font-size: var(--font-size-large);
}
p{
   font-size: var(--font-size);; 
}
