.header{
    margin: 100px 0;
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Add padding to the navbar */
    width: 100%;
    position: fixed; 
    top: 0;
    background-color: var(--navbar-background-color);
}

.navBarButton.active .navBarButtonText{
    border-bottom: solid 2px var(--navbar-hover-color);
}

.navBarButtons {
    display: flex; /* Make the buttons container a flex container */
    gap: 2em; /* Add some gap between the buttons */
    align-items: center; /* Vertically align the buttons */
    margin-right: 3em;
}

.navBarButtonText{
    display: inline;
    font-size: 1em;
    text-align: center;
    margin: 0 auto;
    color: var(--navbar-text-color);
}

.navBarItem{
    margin: 0 10px;
    align-items: center;
}

.navBarButtonText:hover{
    border-bottom: solid 2px var(--navbar-hover-color);
}


.link{
    text-decoration: none;
    color: var(--link-color)
}

.hamburger{
    display: none;
    color: var(--hamburger-color);
}

.hamburger:hover{
    cursor: pointer;
}
@media screen and (max-width: 800px) {

    .navBarButtons {
        background-color: var(--navbar-background-color);
        display: none; /* Hide on smaller screens by default */
        flex-direction: column;
        gap: 0.1rem;
        text-align: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 60px;
        left: 0px;
        z-index: 1;
        margin: 0;
        text-decoration: none;
    }

    .navBarButtons.active{
        /* display:flex; */
        display: block;
    }
    .navBarButtons.active .navBarButton{
        display: block;
    }
    .navBarButtons.active .link{
        display: block;
        margin: 20px auto;
    }
    .navBarButtons.active .link .icon{
        width: 50px;
        height: 50px;
    }
    .navBarButton{
        width: 200px;
        margin: 20px auto;
        padding: 10px 0;
        background-color: var(--body-background-color);
    }
    .navBarButton:hover .navBarButtonText {
        border-bottom: solid 2px var(--navbar-hover-color);
        
    }

    .hamburger{
        display: flex;
    }

}
