.page{
    margin : 8rem auto;
    width : var(--width);
    text-align: left;
    width: var(--width);
}
.page-title{
    margin: 8rem auto 10rem auto;; 
}
.topic{
    margin-bottom: 10rem;
    background-color: var(--box-background-color);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}
.topic-title{
    margin-bottom: 3rem;
}
.topic-subtitle{
    margin: 2.5rem 0 1rem 0;
}
.topic-list {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0;
}
.topic-link{
    text-decoration:solid underline;
    color: var(--link-color);
    display: block;

}

@media screen and (max-width: 1300px) {
    .page{
        font-size: var(--font-size-small);
        width: var(--width-small);
    }
}

@media screen and (max-width: 800px) {
    .page{
        font-size: var(--font-size-small);
        width: var(--width-xsmall);
    }
}